
@{
    ViewBag.Title = "CouncillorAttendance";
}

<h2>CouncillorAttendance</h2>

<table>
	<tr>
		<td>
			Taj Kamal
		</td>
		<td>
			5%
		</td>
	</tr>
	<tr>
		<td>
			Bob Smith
		</td>
		<td>
			75%
		</td>
	</tr>
	<tr>
		<td>
			Amy McGee
		</td>
		<td>
			89%
		</td>
	</tr>
</table>